name: Running Code Coverage
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
          fetch-depth: 0
    - name: Install Python 3.9.20
      uses: actions/setup-python@v1
      with:
        python-version: 3.9.20
    - name: Install dependencies
      working-directory: ./backend
      run: |
        pip install -r requirements.txt
        echo requirements installed  
        pip install pytest pytest-cov
    - name: Run tests
      working-directory: ./backend
      run: |
        python -m coverage run -m unittest test_api.py
        coverage json
    - name: Upload coverage to Codecov
      if: always()
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: backend/coverage.json
        
