name: Unit Test
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Python 3.9.13
        uses: actions/setup-python@v1
        with:
          python-version: 3.9.13

      - name: Install backend dependencies
        working-directory: ./backend
        run: |
          pip install -r requirements.txt
          echo "Python requirements installed"

      - name: Run tests
        working-directory: ./backend
        run: |
          python -m unittest test_api.py
